<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  </head>
  <body>

    <div id="root">
      <!-- parte superiore: titolo e input -->
      <header>
        <h1>BOOLFIX</h1>
        <div id="search">
          <input @keydown.enter="searchMovie" type="text" name="" value="" v-model="search">
          <button @click="searchMovie" type="button" name="button">Cerca</button>
        </div>
      </header>
      <!-- /parte superiore: titolo e input -->
      <!-- corpo della pagina -->
      <main>
        <div v-for="movie in movies" class="card"
        v-if="movie.video">
          <div class="front">
            <img :src="'https://image.tmdb.org/t/p/w220_and_h330_face/' + movie.poster_path" alt="Movie poster">

            <!-- INFO FILM -->
            <div class="back">
              <div class="info">
                <ul>
                  <li><strong>Titolo</strong>: {{ movie.title }}</li>
                  <li><strong>Titolo originale</strong>: {{ movie.original_title}}</li>
                  <li><strong>Lingua originale</strong>: {{ movie.original_language}}</li>
                  <li><strong>Voto</strong>:
                    <i v-for="n in Math.ceil(movie.vote_average / 2)" class="fas fa-star"></i>
                    <i v-for="n in Math.ceil(4 - movie.vote_average / 2)" class="far fa-star"></i>
                  </li>
                  <li><strong>Overview</strong>: {{ movie.overview }}</li>
                </ul>
              </div>
            </div>
            <!-- /INFO FILM -->
          </div>
        </div>

      </main>
    </div>


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
